@page "/daily"
@using BlazorDateRangePicker
@using Helper
@inject IJSRuntime JSHelper
@inject NavigationManager uriHelper


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col text-center">
                    <h1 style="font-size:50px;">Daily Engergy</h1>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="form-group col-6">
                    <label>
                        <i class="fas fa-map-marker-alt"></i>
                        Area
                    </label>
                    <div class="input-group ">
                        <select title="-- Select --"
                                data-style="btn-light"
                                class="form-control selectpicker">
                            <option>TP. Hồ Chí Minh</option>
                            <option>Hà Nội</option>
                            <option>Hải Phòng</option>
                            <option>Đà Nẵng</option>
                            <option>Hội An</option>
                            <option>Nha Trang</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-6">
                    <label>
                        <i class="fas fa-city"></i>
                        Zone
                    </label>
                    <div class="input-group ">
                        <select title="-- Select --"
                                data-style="btn-light"
                                class="form-control selectpicker">
                            <option>Biệt thự 1</option>
                            <option>Biệt thự 2</option>
                            <option>Biệt thự 3</option>
                            <option>Biệt thự 4</option>
                            <option>Biệt thự 5</option>
                            <option>Biệt thự 6</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-6">
                    <label>
                        <i class="fas fa-store"></i>
                        Room
                    </label>
                    <div class="input-group ">
                        <select title="-- Select --"
                                data-style="btn-light"
                                class="form-control selectpicker">
                            <option>Tầng Trệt</option>
                            <option>Tầng 1</option>
                            <option>Tầng 2</option>
                            <option>Tầng 3</option>
                            <option>Tầng 4</option>
                            <option>Tầng 5</option>
                        </select>
                    </div>

                </div>

                <!-- Date range -->
                <div class="form-group col-6">
                    <label>
                        <i class="far fa-calendar-alt"></i>
                        Date Range
                    </label>
                    <div class="input-group">
                        <DateRangePicker class="form-control" OnRangeSelect="DisplayResult" />
                    </div>
                    <!-- /.input group -->
                </div>

                @*<div class="form-group col-6">
                    <label>
                    <i class="fas fa-filter"></i>
                    Filter Result
                    </label>
                    <div class="input-group ">
                    <select title="-- Select --"
                                data-style="btn-light"
                                class="form-control selectpicker">
                    <option>> 10.000 kWh</option>
                    <option>> 20.000 kWh</option>
                    <option>> 30.000 kWh</option>
                    <option>> 40.000 kWh</option>
                    </select>
                    </div>
                    </div>*@

            </div>

            <div class="card">
                <div class="card-header">
                    @*<h3 class="card-title">Daily Engergy</h3>*@

                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input custom-control-input-danger" type="checkbox"
                               id="cbEngergySlider">
                        <label for="cbEngergySlider" class="custom-control-label">
                            <i class="fas fa-filter"></i> Filter Result: <b>All</b>
                        </label>
                    </div>
                    <div class="slider-teal">
                        <input type="text" value="" class="slider form-control" data-slider-min="0"
                               data-slider-max="10000" data-slider-step="5" data-slider-value="[0,1000]"
                               data-slider-orientation="horizontal" data-slider-selection="before"
                               data-slider-tooltip="show">
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr class="text-center">
                                <th>STT</th>
                                <th>Date</th>
                                <th>Begin</th>
                                <th>End</th>
                                <th>Energy<sup>kWh</sup></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>1</td>
                                <td>16/04/2021</td>
                                <td>2004112.4</td>
                                <td>2006824.8</td>
                                <td>2712.4</td>
                                <td>
                                    <button class="btn"><i class="fas fa-cog"></i></button>
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td>2</td>
                                <td>17/04/2021</td>
                                <td>2002632.4</td>
                                <td>2007084.8</td>
                                <td>4832.4</td>
                                <td>
                                    <button class="btn"><i class="fas fa-cog"></i></button>
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td>3</td>
                                <td>18/04/2021</td>
                                <td>2001602.4</td>
                                <td>2006434.8</td>
                                <td>4452.4</td>
                                <td>
                                    <button class="btn"><i class="fas fa-cog"></i></button>
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td>4</td>
                                <td>19/04/2021</td>
                                <td>2000212.4</td>
                                <td>2007174.8</td>
                                <td>6962.4</td>
                                <td>
                                    <button class="btn"><i class="fas fa-cog"></i></button>
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td>5</td>
                                <td>20/04/2021</td>
                                <td>2003022.4</td>
                                <td>2006834.8</td>
                                <td>3812.4</td>
                                <td>
                                    <button type="button" class="btn" data-toggle="modal" data-target="#modalEdit">
                                        <i class="fas fa-cog"></i>
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="lbModalEdit"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="lbModalEdit">Modal title</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="button" class="btn btn-primary">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="text-center">
                                <th>Total</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>22.772</th>
                                <td> </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@code {
    protected override async Task OnInitializedAsync()
    { }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }
        JSHelper.InvokeVoidAsync("Interop_InjectBootstrapSelect");
        JSHelper.InvokeVoidAsync("InjectDataTable");
        JSHelper.InvokeVoidAsync("InjectBootstrapSlider");
    }

    public void DisplayResult(DateRange range)
    {
        //JSHelper.InvokeVoidAsync("console.log", range.Start, range.End);
        var lstRangeDate = DateTimeHelper.DateTime2StringRange(range.Start.DateTime, range.End.DateTime);
        //JSHelper.InvokeVoidAsync("console.log", lstRangeDate);
        //JSHelper.InvokeVoidAsync("console.log", lstRangeDate.ToArray());
        JSHelper.InvokeVoidAsync("RenderAreaChartLayout", lstRangeDate);
    }
}