fieldset {
  border: 2px solid orange !important;
}

.btn-light {
  color: #1f2d3d;
  border-color: #d8d8d8;
}

/* Dotted Seperator line */
hr.dotted {
  border-top: 3px dotted #bbb;
}

/* backgound modal */
.modal {
  background: linear-gradient(#c1e2f1, #f7e8f6) !important;
}
