@inherits LayoutComponentBase

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="https://vmes.vn" class="h1"><b>Daikin</b> <br /> User Managment Page</a>
            </div>
            <div class="card-body">
                @Body
            </div>
        </div>
    </div>
</body>